#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME=ptyprocess
export PYBUILD_TEST_ARGS={interpreter} -m unittest discover -s tests -v

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	PYBUILD_SYSTEM=custom dh_auto_test
